html {
  background-color: #0f0f23;
  color: white;
}

body {
  padding: 20px;
  margin: 0;
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro","Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  max-width: 800px;
}

h1 {
  color: #00cc00;
  text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
}

th {
  text-align: left;
}

#years li,
a {
  color: #009900;
  text-decoration: none;
}
a:hover,
a:focus,
#years li.active a {
  color: #99ff99;
}

* {
  box-sizing: border-box;
}

.titel {
  color: #ffff66
}

table {
  width: 100%;
  padding-bottom: 20px;
  cursor: default;
}

thead tr th {
  color: #00cc00;
}

tbody tr:hover td {
  background-color: hsl(202deg 73% 46%);
}

ul#years {
  display: flex;
  gap: 10px;
  padding: 0;
}

ul#years li {
  display: block;
}

ul#years li:before {
  content: "["
}
ul#years li:after {
  content: "]"
}
ul#years li.active:before,
ul#years li.active:after {
  color: #99ff99;
}